<div class="col-xs-2 col-xs-offset-1 cproduct-display">

      <img class="store_image" src={{product.image}} alt={{product.name}}>

  <h5>{{product.name}}</h5>

  <p>HKD {{product.price}}</p>

  <button class="btn" {{action 'addToCart' product}}>Add to Cart</button>
</div>
