<div class="row store_products">
  <div class="col-xs-1 store_img">
    <img class="store_image" src={{sale.image}} alt={{sale.name}}>
  </div>
  <div class="col-xs-2">
    <p>{{sale.barcode}}</p>
  </div>
  <div class="col-xs-2">
    <p>{{sale.brand}}</p>
  </div>
  <div class="col-xs-2">
    <p>{{sale.name}}</p>
  </div>
  <div class="col-xs-2">
    <p>HKD {{sale.price}}</p>
  </div>
  <div class="col-xs-1">
    <p>{{sale.quantity_selected}}</p>
  </div>
  <div class="col-xs-1">
    <p>{{sale.day}}/{{sale.month}}/{{sale.year}}</p>
  </div>
</div>
