<div class="col-xs-12">
  <div class="cart_tile">
    <div class="row">
      <img class="cart_image" src={{item.image}} alt={{item.name}}>
    </div>

      <div class="row">
        {{item.name}}
      </div>
      <div class="row">
        HKD: {{item.price}}
      </div>
      <button class="btn" {{action 'removeItem' item}}>-</button>
      {{item.quantity_selected}}
      <button class="btn" {{action 'addItem' item}}>+</button>
  </div>
</div>
